beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.5.2
colorama==0.4.6
coverage==7.16.2
gherkin-official==42.0.1
idna==3.20
iniconfig==2.3.0
Mako==1.4.3
MarkupSafe==3.0.4
packaging==26.3
parse==1.22.2
parse_type==0.6.6
pluggy==1.6.0
Pygments==2.21.0
pytest==9.1.1
pytest-bdd==9.0.0
pytest-cov==7.1.0
requests==2.34.2
six==1.17.0
soupsieve==2.10
typing_extensions==4.16.0
urllib3==2.8.0
